
/*** Feature ***/

.avtg-box * {
    transition: .5s;
}

.avtg-box:hover {
    background: rgb(255, 221, 0);
    border-color: rgb(255, 221, 0) !important;
}

.avtg-box:hover * {
    color: #FFFFFF !important;
}

