
.sub{
    background-color: rgb(121, 36, 240);

}



.ulll li{
    margin-top: 19px;
}

.linkk{
    text-decoration: none;
    color: black;
}


.linkk:hover{
    text-decoration: none;
    color: gold;
    
}
